

<div class="containers" *ngFor="let t of list" id={{t.id}}>

  <div class="textDiv">{{t.title}}<i class="material-icons" (click)="closeMain($event)">delete</i></div>

  <input class="taskInput" type="text"><i (click)="addTask($event)" class="fa fa-plus"></i>

  <div class="dateauthor">{{t.date}}<div class="authorDiv">{{ t.author }}</div>
  </div>
  <div class="spanParent">
    <ul class="uList">
      <li class="list" *ngFor="let tasks of t.taskList" id={{tasks.id}}>{{ tasks.name }}<i class="material-icons"
          (click)="closeTask($event)">delete</i></li>

    </ul>
  </div>
</div>