<ul class="navbar">
    <li class="navbarli"><a class="active" href="#home">TO-DO LIST</a></li>
    
    <li class="user" id="authoruser">Not Really</li>
  </ul>




<!-- 

<nav>
  <h4>Location</h4>

  <label class="container"> 
    <input type="checkbox" [(ngModel)]="theCheckbox1"/>
      Africa
 
      <span class="checkmark"></span>
    </label>

    <label class="container"> 
      <input type="checkbox" [(ngModel)]="theCheckbox2"/>
        Asia
        <span class="checkmark"></span>
      </label>

      <label class="container"> 
        <input type="checkbox" [(ngModel)]="theCheckbox3"/>
        Australia
     
          <span class="checkmark"></span>
        </label>
    
        <label class="container"> 
          <input type="checkbox" [(ngModel)]="theCheckbox4"/>
          Europe
            <span class="checkmark"></span>
          </label>
          <label class="container"> 
            <input type="checkbox" [(ngModel)]="theCheckbox5"/>
            North America
         
              <span class="checkmark"></span>
            </label>
        
            <label class="container"> 
              <input type="checkbox" [(ngModel)]="theCheckbox6"/>
              South America
                <span class="checkmark"></span>
              </label>   

              
 
  <hr>

  <h4>Gender</h4>
 
  
  <label class="containerRadio">
    <input type="radio" name ="gender" ng-model="color.name" value="red">
    Male
    <span class="checkmark1"></span>
  </label><br/>
  <label class="containerRadio">
    <input type="radio"  name ="gender" ng-model="color.name" ng-value="specialValue">
    Female
    <span class="checkmark1"></span>
  </label ><br/>
  <label class="containerRadio">
    <input type="radio" name ="gender" ng-model="color.name" value="blue">
    Both
    <span class="checkmark1"></span>
  </label><br/>


  <hr>

  <h4>Skills</h4>
  
  <button class="default-color">HTML/CSS</button>
  <button>UI Design</button>
  <button (click)="handleClick1();" class="default-color">Sketch </button>
  <button (click)="handleClick1();" class="default-color">Prototyping</button>
  <button (click)="handleClick1();">Marvel</button>
  <button (click)="handleClick1();">UX Design </button>
  <button (click)="handleClick1();">Principle App </button>
  <button (click)="handleClick1();">Photoshop</button>
  <button (click)="handleClick1();">Adobe</button>
  <button (click)="handleClick1();">Illustrator </button>
  <button (click)="handleClick1();" >Adobe XD </button>

</nav> -->